

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

$shadow-color: #23203b;
$input-color: lighten(#AB9E95, 10%);
$input-border-color: #5E5165;
$button-background-color: #27AE60;

body{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;


    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-size: cover;

}



#dashboard{
    width:100%;
    float:left;
    text-align:center;
    display:block;
    margin-bottom: 30px;
}
div.sub, iframe {

    margin: 0 auto;
    background-color: #777;

}
.boton_1{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    font-family: Arial;
    color: #ffffff;
    background-color: #0453a4;
    border-radius: 5px;
    margin-left: 35%;
    margin-right: 5%;
}
.boton_2{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    font-family: Arial;
    color: #ffffff;
    background-color: #0453a4;
    border-radius: 5px;
    margin-right: : 30%;
    margin-left: : 10%;
}

.container{
    align-items: center;
    width: 700px;
    max-width: 700px;
    margin:auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
    padding: 2rem;
		padding-bottom: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    background: rgba(255,255,255, 0.85);
}

.form__title{
  text-align: center;
  margin: 1rem;
}



html {
  background: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

body, input, button {
  font-family: 'Quicksand', sans-serif;
}

@mixin normalize-input {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
}

  grafo {
  padding: 15px;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;}

.login {
  padding: 10px;
  width: 400px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;


  .heading {
    text-align: center;
    margin-top: 1%;

    h2 {
      font-size: 3em;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      padding-bottom: 5px;
      text-shadow: 1px 1px 3px $shadow-color;
    }
  }

  form {
    .input-group {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-top: 1px solid rgba(255, 255, 255, 0.1);

      &:last-of-type {
        border-top: none;
      }

      span {
        background: transparent;
        min-width: 53px;
        border: none;

        i {
          font-size: 1.5em;
          color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    input.form-control {
      @include normalize-input;

      padding: 10px;
      font-size: 1.6em;
      width: 100%;
      background: transparent;
      color: $input-color;

      &:focus {
        border: none;
      }
    }

    button {
      margin-top: 20px;
      background: $button-background-color;
      border: none;
      font-size: 1.6em;
      font-weight: 300;
      padding: 5px 0;
      width: 100%;
      border-radius: 3px;
      color: lighten($button-background-color, 40%);
      border-bottom: 4px solid darken($button-background-color, 10%);

      &:hover {
        background: tint($button-background-color, 4%);
        -webkit-animation: hop 1s;
        animation: hop 1s;
      }
    }
  }
}



/* Large Devices, Wide Screens */

@media only screen and (max-width : 1500px) {
}

@media only screen and (max-width : 1200px) {
  .login {
    width: 600px;
    font-size: 2em;
  }
}

@media only screen and (max-width : 1100px) {
  .login {
    margin-top: 2%;
    width: 600px;
    font-size: 1.7em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .login {
    margin-top: 1%;
    width: 550px;
    font-size: 1.7em;
    min-height: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .login {
    margin-top: 0;
    width: 500px;
    font-size: 1.3em;
    min-height: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .login {

    h2 {
      margin-top: 0;
    }

    margin-top: 0;
    width: 400px;
    font-size: 1em;
    min-height: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .login {
    margin-top: 0;
    width: 200px;
    font-size: 0.7em;
    min-height: 0;
  }
}


/*Dataframe Style*/
table{
  font-size: 1rem;
  color: #0A101A;
}

th {
  background-color: #0453a4;
  color: white;
  text-align: center;
}
tr:hover{
  background-color: #f5f5f5;
}

td {
  text-align: center;
}
th, td {
  border-bottom: 1px solid #ddd;

}

/*From css_admin*/

.float_result {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-top: 0;
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__title-warning{
  text-align: center;
  margin: 1rem;
  color: #cc3333;
}

.float_result {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    color: #009579;
    border: 2px solid #009579;
    border-radius: 4px;
    outline:none;
    cursor: pointer;
    background:  #ffffff;
    align
}

.float_result :hover {
    background: #007f67;
}

.float_result :active {
    transform: scale(0.98 );
}

.float_result-error {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline:none;
    cursor: pointer;
    background: #009579 ;
}

.float_result-error :hover {
    background: #007f67;
}

.float_result-error :active {
    transform: scale(0.98 );
}

.form__link {
  color:#252c6a;
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

/* POP UP */
.all {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
