{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css.css') }}"/>
{% endblock stylesheet %}

<head>
    <meta charset="UTF-8">
    <title>Fallo coll login</title>
</head>

<div class="fail_login">
  <div class="heading">
    <h2>DNI o contraseña equivocado(s), por favor vuelve a intentar. ¿Ya creste tu contraseña?</h2>

    <form action="/login_coll"  method="GET">
      <button type="submit" class="float">Volver a intentar ver resultados</button>
    </form>
  </div>
</div>
