  {% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css_adm.css') }}"/>
{% endblock stylesheet %}

<head>
    <meta charset="UTF-8">
    <title>Éxito</title>
</head>
<body>
    <div class="container">
      <div class="heading">
        <img src="static/pictures/Finish.gif" alt="Dame esos 5!" class="img_thanks">
        <h2 class="form__title" style="align-text:center;">¡Dame esos 5!</h2>
        <h4 class="form__title" style="align-text:center;">Los resultados fueron actualizados con éxito</h2>


          <div class="form">

        <form action="/action_admin"  method="GET">
          <button type="submit" class="float">Ir al home</button>
        </form>
        <h4>Otras acciones</h4>

        <ul>
          <li><a href="https://app.powerbi.com/view?r=eyJrIjoiZGIwZWM1NDctNTQwZC00NWI0LWIzN2UtZWZiOTlhZjk0ZTk2IiwidCI6ImExYTYwYWJlLWRmZDAtNGYxNS1hMjg0LWI3M2VmMGQwNjQ5NSIsImMiOjR9&pageName=ReportSection58050cb2a30c8d971a33" target="_blank">Ver Dashboard</a></li>
          <li><a href="/previous_results">Descargar Reportes PDF's</a></li>
        </ul>


        </div>
      </div>
     </div>
</body>
