{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css.css') }}"/>
{% endblock stylesheet %}

<head>
    <meta charset="UTF-8">
    <title>Éxito</title>
</head>

<div class="login">
  <div class="heading">
    <h2>¡Resultados actualizados con éxito!</h2>
    </div>
    <div class="form">
    <button onclick="window.open('https://app.powerbi.com/view?r=eyJrIjoiZGIwZWM1NDctNTQwZC00NWI0LWIzN2UtZWZiOTlhZjk0ZTk2IiwidCI6ImExYTYwYWJlLWRmZDAtNGYxNS1hMjg0LWI3M2VmMGQwNjQ5NSIsImMiOjR9&pageName=ReportSection58050cb2a30c8d971a33','_blank')">Ir al dashboard</button>
    <form action="/"  method="GET">
      <button type="submit" class="float">Ir al home</button>
    </form>

 </div>
 </div>
