{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css_home.css') }}"/>
{% endblock stylesheet %}


<body>
<div class="container">
  <div class="heading">
    <h2>¡Hola! Para iniciar elige tu tipo de usuario</h2>
    </div>

    <div class="form">
    <form action="/login_admin"  method="GET"  onsubmit="admin_button.disabled = true; return true;">
      <button type="submit" class="float" name="admin_button">Administrador</button>
    </form>
    <br>
    <form action="/login_coll"  method="GET" onsubmit="coll_button.disabled = true; return true;">
      <button type="submit" class="float" name="coll_button">Colaborador</button>
    </form>
    </div>
    </div>


</body>
