{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css.css') }}"/>
{% endblock stylesheet %}

<div class="fail_login">
  <div class="heading">
    <h2>¡Hola! Para iniciar elige tu tipo de usuario</h2>

    <form action="/login_admin"  method="GET">
      <button type="submit" class="float">Administrador</button>
    </form>

    <form action="/login_coll"  method="GET">
      <button type="submit" class="float">Colaborador</button>
    </form>

  </div>
</div>
