{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css.css') }}"/>
{% endblock stylesheet %}

<head>
    <meta charset="UTF-8">
    <title>Login coll</title>
</head>

<div class="login">
  <div class="heading">
    <h2>¡Hola! Por favor inicia sesión para continuar</h2>
    <form action="/coll_results"  method="POST">

      <div class="input-group input-group-lg">
        <input type="text" class="form-control" name = "DNI" placeholder="DNI">
          </div>

        <div class="input-group input-group-lg">
          <input type="password" class="form-control" name = "password" placeholder="Contraseña">
        </div>

        <button type="submit" class="float">Ver mis resultados</button>
    </form>

        <h4>¿Aún no creas tu contraseña?</h4>
        <button onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScolRut55Ar6U5FmfzrpEEhZSOM_xTpasUDvsfViFy8ho7gEA/viewform','_blank')">Crear mi contraseña</button>


 		</div>
 </div>
