{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css_login_colab.css') }}"/>
{% endblock stylesheet %}

<head>
    <meta charset="UTF-8">
    <title>Login Colaborador</title>
</head>


<body>

<div class="container">
  <div class="heading">
    <form action="/coll_results"  method="POST" onsubmit="coll_login_button.disabled = true; return true;">
      <h2 class="form__title">Login 360° | Colaborador</h2>
      <div class="form__input-group">
        <input type="text" class="form__input" name = "DNI" placeholder="DNI">
          </div>

        <div class="form__input-group">
          <input type="password" class="form__input" name = "password" placeholder="Contraseña">
        </div>

        <button type="submit" class="float" name="coll_login_button">Ver mis resultados</button>

        <h3 class="form__title">¿No conoces tu contraseña?</h3>
        <h4 class="form__title">Envía un correo pidiéndola a gestion@crosland.pe</h4>
    </form>

 		</div>
 </div>
</body>
