
{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css.css') }}"/>
{% endblock stylesheet %}

<div class="container-fluid" style="min-height:100%">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">

          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

        {{message}}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}


<head>
    <meta charset="UTF-8">
    <title>Subir archivos</title>
</head>

<div class="login">
  <div class="heading">
    <h2>Sube los archivos correspondientes</h2>
    <form action="/results"  method="POST" enctype=multipart/form-data>

      <div class="input-group input-group-lg">
        <label for="file_answers">Suba el CSV o Excel con las respuestas:</label>
        <input type="file" class="form-control" name = "file_answers">
          </div>

        <div class="input-group input-group-lg">
          <label for="file_answers">Suba el CSV o Excel con los colaboradores:</label>
          <input type="file" class="form-control" name = "file_collaborators">
        </div>

        <div class="input-group input-group-lg">
          <label for="file_answers">Ahora ingrese el año y el Q correspondientes</label>

          <input type="text" class="form-control" name = "year" placeholder="Año. Ejm: 2020">
          <input type="text" class="form-control" name = "Q" placeholder="Q. Ejm: Q1">

        </div>

        <button type="submit" class="float">Procesar</button>

       </form>
 		</div>
 </div>
 </div>
